body {
    margin: 0;
    font-size: 'Raleway', 'Lato', 'Helvetica Neue', 'Arial', sans-serif;
}

* {
    box-sizing: border-box;
}

.header-nav {
    width: 100%;
    height: 50%;
    background-color: dimgray;
}
