/* === FARBEN === */

/*
Blau:        #1F4E8C
Dunkel Grau: #3D3F45
Hell Grau:   #F0F0F0
Rot:         #A62C21
*/

/* === MEINE FARBEN === */

/*
Dunkel Grün:    darkgreen
Hell Grün:      greenyellow
Hell Grau:      lightgray
*/



/* === GLOBAL === */

body {
    margin: 0;
    font-family: 'Raleway', 'Lato', 'Helvetica Neue', 'Arial', sans-serif;
    font-size: 16px;
}

* {
    box-sizing: border-box;
}

:focus {
    outline: none;
    box-shadow: 0 0 2px 2px darkgreen, 0 0 10px #E5E5E5;
}

section {
    padding-top: 4rem;
    padding-bottom: 4rem;
}

@media (max-width: 1366px) {
    section {
        padding-top: 2rem;
        padding-bottom: 4rem;
    }
}

@media (max-width: 1024px) {
    section {
        padding-top: 1.5rem;
        padding-bottom: 4rem;
    }
}

@media (max-width: 768px) {
    section {
        padding-top: .5rem;
        padding-bottom: .5rem;
    }
}


/* === GENERELLES === */

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

.active {
    background-color: darkgreen;
}

.wichtiger-text {
    font-width: bold;
}

.screenreader {
    display: none;
}

.btn-typ-1 {
    background-color: darkgreen;
    border: 2px solid darkgreen;
    color: #FFFFFF;
    padding: .4rem .6rem;
}


.btn-typ-1:hover {
    background-color: darkgreen;
    border: 2px solid white;
}

.btn-typ-2 {
    border: 2px solid white;
    background-color: transparent;
    color: white;
    padding: .4rem .6rem;
}

.btn-typ-2:hover {
    color: darkgreen;
    font-width: bold;
    border: 2px solid darkgreen;
}

.intro-container {
    text-align: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2.5rem;
}

@media (max-width: 1366px) {

    .intro-container {
        width: 90%;
    }
}

@media (max-width: 1024px) {

    .intro-container {
        width: 100%;
    }
}

.intro-container > h1 {
    font-size: 1.6rem;
    text-transform: uppercase;
    color: black;
}

.intro-container > p {
    font-size: 1.2rem;
}

@media (max-width: 1366px) {

    .intro-container > p {
        margin-bottom: .5rem;
    }
}

@media (max-width: 1024px) {

    .intro-container > p {
        margin-bottom: 0;
    }
}

/* === NAVIGATIONSLEISTE === */

#header-nav {
    width: 100%;
    height: 50px;
    background-color: dimgrey;
    position: relative;
    font-weight: bold;
    font-size: 1.1rem;
}

#header-nav a > img {
    height: 50px;
    width: auto;
    position: absolute;
    left: 2rem;
    top: 0;
}

#header-nav ul {
    margin: 0;
    padding: 0;
    position: absolute;
    right: 2rem;
    height: 100%;
}

#header-nav ul > li {
    display: inline-block;
    height: 100%;
    padding: 0 .2rem 0 .4rem;
}

#header-nav ul >li > a {
    margin-top: .8rem;
    display: inline-block;
}

#header-nav ul > li > a:link {
    color: white;
    text-decoration: none;
}

#header-nav ul > li > a:hover {
    color: white;
    text-decoration: none;
}
#header-nav ul > li > a:active {
    color: white;
    text-decoration: none;
}
#header-nav ul > li > a:visited {
    color: white;
    text-decoration: none;
}

#header-nav .col-6 {
    padding-top: 0;
    padding-bottom: 0;
}

#header-nav .container,
#header-nav .row,
#header-nav .col-6 {
    height: 100%;
}

.active {
    background-color: darkgreen;
}

/* === HEADER-BANNER ==*/

#header-banner {
    width: 100%;
    height: 0;
    padding-top: 20.83%;
    background: url("../img/fussballplatz_utzenstorf_vogelperspektive_edit_2.jpg") no-repeat;
    background-size: cover;
}

#header-banner-klein {
    width: 100%;
    height: 0;
    padding-top: 20.83%;
    background: url("../img/fussballplatz_utzenstorf_vogelperspektive_edit_2.jpg") no-repeat;
    background-size: cover;
}

/* === NEWSLETTER-BEREICH === */

#newsletter-bereich {
    width: 100%;
    background-color: gray;
    padding-bottom: 0;
    padding-top: 0;
}

#nb-werbetext {
    color: #FFFFFF;
    font-size: 0.8rem;
}

#nb-form {
    margin-top: .15rem;
    float: right;
    width: 100%;
    text-align: right;
}

#nb-email-input {
    width: 78%;
    height: 35px;
    border: 2px solid #FFFFFF;
    padding: .4rem;
}

#nb-btn {
    height: 35px;
}

@media (max-width: 768px) {

    #desktop-nav {
        display: none;
    }

}

@media (max-width: 1822px) {

    #nb-email-input {
        width: 70%;
    }

}

@media (max-width: 1358px) {

    #nb-email-input {
        width: 100%;
        margin-bottom: .5rem;
    }

    #nb-btn {
        width: 100%;
    }

}

@media (max-width: 768px) {

    #nb-werbetext {
        display: none;
    }

    #nb-form {
        margin-top: 0;
    }

    #newsletter-bereich .col-4 {
        display: none;
    }

}

@media (max-width: 480px) {

    #nb-email-input {
        height: 25px;
    }

    #nb-btn {
        height: 25px;
        padding: .1rem;
    }

}

/* === LEISTUNGEN-BEREICH === */

.leistungs-teaser-box {
    background-color: dimgray;
    text-align: center;
    color: white;
    padding: 1rem 3rem 2.5rem;
    width: 60%;
    margin-bottom: 1.6rem;
}

@media (max-width: 1366px) {

    .leistungs-teaser-box {
        width: 80%;
    }
}

#leistungen-bereich .row > .col-3:nth-of-type(even) > .leistungs-teaser-box {
    margin-right: auto;
    margin-left: 1rem;
}

#leistungen-bereich .row > .col-3:nth-of-type(odd) > .leistungs-teaser-box {
    margin-right: 1rem;
    margin-left: auto;
}

.leistungs-teaser-box > h2 {
    font-size: 1.4rem;
}

.leistung-ansehen-btn {
    text-decoration: none;
    height: 40px;
    display: inline-block;
    padding-top: .5rem;
    width: 40%;
    min-width: 100px;
    margin-top: .4rem;
}

.leistung-ansehen-btn:link {
    color: white;
}

.leistung-ansehen-btn:visited {
    color: white;
}

.leistung-ansehen-btn:active {
    color: white;
}

.leistung-ansehen-btn:hover {
    color: darkgreen;
    font-width: bold;
    border: 2px solid darkgreen;
}

@media (max-width: 1024px) {

    .leistungs-teaser-box {
        width: 100%;
        margin-bottom: .6rem;
    }

    #leistungen-bereich .row > .col-3:nth-of-type(even) > .leistungs-teaser-box {
        margin-left: .5rem;
    }

    #leistungen-bereich .row > .col-3:nth-of-type(odd) > .leistungs-teaser-box {
        margin-right: .5rem;
    }
}

@media (max-width: 768px) {

    #leistungen-bereich .row > .col-3:nth-of-type(even) > .leistungs-teaser-box {
        margin-left: 0;
    }

    #leistungen-bereich .row > .col-3:nth-of-type(odd) > .leistungs-teaser-btn-typ-2box {
        margin-right: 0;
    }
}

/* === Video-Bereich === */

#video-bereich {
    background-color: darkgreen;
    color: #FFFFFF;
}

#video-bereich video {
    width: 50%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

@media (max-width: 1440px) {
    #video-bereich video {
        width: 60%;
    }
}

@media (max-width: 1024px) {
    #video-bereich video {
        width: 60%;
    }
}

@media (max-width: 768px) {
    #video-bereich video {
        width: 75%;
    }
}

@media (max-width: 480px) {
    #video-bereich video {
        width: 100%;
    }
}

/* === SERVICE-BEREICH === */

#service-bereich {
    background-color: #F0F0F0;
}

.sercice-box {
    text-align: center;
}

.service-box h1 {
    font-size: 1.4rem;
    width: 80%;
}

#service-bereich .row:nth-of-type(2) .col-2:nth-of-type(1) > .service-box {
    margin-right: 0;
    margin-left: auto;
}

#service-bereich .row:nth-of-type(2) > .col-2:nth-of-type(2) > .sercice-box {
    margin-left: auto;
    margin-right: auto;
}

.service-icon {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
}

#guenstig-icon {
    background: darkgreen url("./../img/services-sprite.png") left 0 top 0;
}

#schnell-icon {
    background: darkgreen url("./../img/services-sprite.png") left -120px top 0;
}

#modern-icon {
    background: darkgreen url("./../img/services-sprite.png") left -240px top 0;
}

@media (max-width: 768px) {
    #service-bereich .row:nth-of-type(2) .col-2:nth-of-type(1) > .service-box {
        margin-right: auto;
        margin-left: auto;
    }

    #service-bereich .row:nth-of-type(2) .col-2:nth-of-type(3) > .service-box {
        margin-right: auto;
        margin-left: auto;
    }
}

@media (max-width: 480px) {
    .sercice-box {
        width: 100%;
    }
}

/* === ÜBER-UNS-BEREICH === */

#über-uns-bereich {
    background-color: #FFFFFF;
}

#über-uns-container {
    position: relative;
    width: 85%;
    margin-right: auto;
    margin-left: auto;
}

#über-uns-container > img {
    position: absolute;
    top: 0;
    right: 100px;
    height: 100%;
    left: 80%;
}

#über-uns-container > p {
    width: 75%;
    font-size: 1.2rem;
}

@media (max-width: 1440px) {
    #über-uns-container > img {
      right: 50px;
    }
}

@media (max-width: 1280px) {
    #über-uns-container > img {
      right: 0;
    }
}

@media (max-width: 1140px) {
    #über-uns-container > p {
      width: 70%;
     }
}

@media (max-width: 1024px) {
    #über-uns-container > p {
      width: 100%;
     }

    #über-uns-container > img {
      display: none;
    }
}

/* === FOOTER === */

#footer {
    background-color: dimgray;
    height: 2.8rem;
    color: greenyellow;
}

#footer-nav {
    display: inline-block;
    float: right;
}

#footer-nav a {
    text-decoration: none;
}

#footer-nav a:link {
    color: greenyellow;
}

#footer-nav a:visited {
    color: greenyellow;
}

#footer-nav a:active {
    color: greenyellow;
}

#footer-nav a:hover {
    color: greenyellow;
}

@media (max-width: 565px) {
    #footer span {
        display: none;
    }
}

/* === LEISTUNGEN-SEITE ===*/

.leistung {
    padding: 2rem;
}

.leistung:nth-of-type(even) {
    background-color: #F0F0F0;
}

.flex-container {
    display: flex;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-around;
    align-items: center;
}

@media (max-width: 1366px) {

    .flex-container {
        width: 100%;
        padding-right: 4rem;
        padding-left: 4rem;
    }
}

@media (max-width: 1024px) {

    .flex-container {
        width: 100%;
    }
}

.flex-container > .intro-container {
    width: 100%;
}

.leistungs-box {
    background-color: dimgray;
    flex-basis: 25%;
    color: white;
    padding: 2rem 4rem;
    text-align: center;
    min-height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.leistungs-box-empfohlen {
    flex-basis: 27.5%;
    min-height: 720px;
    box-shadow: 0 0 20px 0 dimgray;
    font-size: 1.05rem;
}

@media (max-width: 1782px) {
    .leistungs-box {
        flex-basis: 27.5%;
    }

    .leistungs-box-empfohlen {
        flex-basis: 30%;
    }
}

@media (max-width: 1622px) {

    .leistungs-box {
        flex-basis: 30%;
    }

    .leistungs-box-empfohlen {
        flex-basis: 32.5%;
    }
}

@media (max-width: 1488px) {

    .leistungs-box {
        padding: 1rem 2rem;
    }

    .flex-container {
        align-items: stretch;
    }

    .leistungs-box-empfohlen {
        min-height: initial;
    }
}

@media (max-width: 1088px) {
    .flex-container {
        width: 80%;
        flex-direction: column;
        padding: 0;
    }

    .leistungs-box {
        padding: 2rem 4rem;
        margin-bottom: 2rem;
        min-height: initial;
    }
}

@media (max-width: 768px) {
    .flex-container {
        width: 90%;
    }
}

@media (max-width: 409px) {
    .leistungs-box {
        padding: 1rem 2rem;
    }
}

@media (max-width: 338px) {
    .leistungs-box {
        padding: .5rem 1rem 2rem 1rem;
    }
}

.leistungs-box h1 {
    margin-bottom: 0;
    margin-top: 1.5rem;
}

.leistungs-box ul {
    padding: 0;
}

.leistungs-box ul > il {
    list-style-position: inside;
    margin-bottom: .5rem;
}

.leistung-auswählen-btn {
    width: 50%;
    height: 2.5rem;
    font-size: 1rem;
    margin-top: .5rem;
    min-width: 170px;
}

.leistung-auswählen-btn:hover {
    font-size: normal;
}

/* === KONTAKT-SEITE === */

#kontakt-formular input,
#kontakt-formular textarea {
    width: 100%;
    border: 2px solid dimgray;
    padding: .5rem;
    font-size: 1rem;
    font-family: 'Raleway', 'Lato', 'Helvetica Neue', 'Arial', sans-serif;
    color: dimgray;
}

#kontakt-formular textarea {
    height: 100px;
}

#kontakt-formular input:hover,
#kontakt-formular input:focus,
#kontakt-formular textarea:hover,
#kontakt-formular textarea:focus,
#kontakt-formular button:hover {
    border: 2px solid darkgreen;
}

.btn-typ-3 {
    border: 2px solid dimgray;
    background-color: transparent;
    font-size: 1rem;
    color: dimgrey;
    width: 150px;
    height: 39px;
}

#kontakt-formular {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 4rem;
}

@media (max-width: 1366px) {

    #kontakt-formular {
        width: 90%;
    }
}

@media (max-width: 1024px) {

    #kontakt-formular {
        width: 100%;
    }
}

@Media (max-width: 768px) {
    #kontakt-formular button{
        width: 100%;
    }
}

/* === IMPRESSUM === */

    #impressum a {
        color: black;
        text-decoration: none;
        font-weight: bold;
    }

/* === GRID-SYSTEM (SICHTBARKEIT) === */

/* .border, .border * {
    border: 1px solid #91C4FF;
}

[class*='col-'] {
    background-color: dimgray;
}

p {
    background-color: dimgray;
    padding: 0;
    margin: 0;
    color: #FFF;
    text-align: center;
}*/

/* === GRID-SYSTEM === */

.container {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

.row::after {
    content: "";
    clear: both;
    display: block;
}

[class*='col-'] {
    float: left;
    min-height: 1px;
    padding: .8rem;
}

.col-1 { width: 16.666%; }
.col-2 { width: 33.333%; }
.col-3 { width: 50%; }
.col-4 { width: 66.666% }
.col-6 { width: 100%; }

/*

=== WICHTIGE BREAKPOINTS ===

*/

@media (max-width: 1024px) {
    .col-1 { width: 33.333%; }
}

@media (max-width: 768px) {
    .col-1 { width: 50%; }
    .col-2 { width: 100%; }
    .col-3 { width: 100%; }
    .col-4 { width: 100%; }
}

@media (max-width: 480px) {
    .col-1 { width: 100%; }
    .col-2 { width: 100%; }
    .col-3 { width: 100%; }
    .col-4 { width: 100%; }

}